<% if current_user.blank? %>
  <h1>Please Sign In</h1>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% else %>
  <p>
    You are signed in as <%= current_user.username %>.  Click the button below to sign out.
  </p>
  <%= button_to "Sign Out", signout_path, method: :delete %>
<% end %>


<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <h1 ng-repeat="repo in repoName">{{repo}}</h1>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$timeout,$q) {
	var deferred = $q.defer();
    $http.get("/user/repos").then(
			function(response) {
			 if (response.data){	
				console.log("++++++++++++++",response);
				$scope.data = response.data.name;
				console.log("-------------",$scope.data);
				for (var i = 0; i < $scope.data.length; i++) {
					$scope.repoName = $scope.data[i].name;
					console.log("name = ",$scope.repoName);	
				}
			}else {
                   console.log("retrived failed");
                   }
                  return deferred.resolve($scope.repoName);
                },
                function (error) {
                    deferred.reject(error);
                }); 
});
</script>

<p>{{data}}}</p>

</body>
</html>




<!-- 
<!DOCTYPE html>
<html>
<head>
	<title>Github</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="page-header" style="text-align: center;">
	  <h1>Github Repositories</h1>
	</div>
	<div class="row" ng-app="myApp" ng-controller="myCtrl" ng-init="loadRepo();">
		<div class="col-xs-12" style="padding: 50px;">
		======================{{$scope.data}}
		
		</div>
	</div>
</body>
</html>
<script src="Controller.js"></script> -->